<%= stylesheet_link_tag 'index' %>


<% if @albums.length == 0 %>
  <h5> There are no albums uploaded yet </h5>
<% else %>

  <div class="row well index-tron" id="albums_row">
      <div class="row">
          <div class="col-sm-4">
              <h1>Albums</h1>
          </div>

          <% if user_signed_in? %>
            <div class="col-sm-3 col-sm-offset-5">
                <%= link_to 'Upload center: Create new album', "users/upload_center", class: "btn btn-info" %>
            </div>
          <% end %>

      </div>


      <div class="row">

          <div class="col-sm-12">
              <p>
                  All albums uploaded up to this point, you can access extra features clicking the
                  <i class="fa fa-caret-down"></i> symbol <em>(Only on the albums you have editing rights)</em>
              </p>
          </div>


      </div>


      <% i = 0 %>
      <% @albums.each do |album| %>
        <% if i%6 == 0%>
            <div class="row">
        <% end %>
          <div class="col-sm-2">
              <%=  link_to album do %>
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <div class="album-picture-wrap">

                                <%=  image_tag album.get_album_cover_path('thumbnail'), class: "img-thumbnail index-image", width: "100%"%>
                          </div>
                      </div>
              <% end %>
                      <div class="panel-body">
                          <div class="row">
                              <p class="album_card_title">
                                  <i class="fa fa-headphones"></i>
                                  <%= album.name %>
                              </p>
                          </div>
                          <div class="row">

                              <div class="col-sm-12" style="padding-left: 0px; padding-right: 0px;">
                                  <div class="album_card_subtitle">
                                      <i class="fa fa-users"></i>
                                      <%= album.music_group.name %>
                                  </div>
                              </div>

                          </div>
                          <div class="row">

                                  <div class="col-sm-10" style="padding-left: 0px; padding-right: 0px;">
                                      <div class="album_card_subsubtitle">
                                          <%= album.release_date.strftime("%B, %Y") %>
                                      </div>
                                  </div>

                                  <% if user_signed_in?%>
                                      <% if current_user.id == album.user_id or current_user.role_id > album.user.role_id%>

                                        <div class="col-sm-1" style="padding: 0px;" id="caret_wrap">
                                            <i class="fa fa-caret-down" id= "caret<%= album.id %>" onclick="caretChange('caret<%= album.id %>', 'down')" data-toggle="collapse" data-target="#creator_options<%= album.id %>"></i>
                                        </div>

                                      <% end %>
                                  <% end %>
                          </div>
                          <% if user_signed_in?%>
                              <% if current_user.id == album.user_id or current_user.role_id > album.user.role_id%>
                                <div class="row collapse" id="creator_options<%= album.id %>" style="margin-top: 5px;">

                                    <div class="col-sm-4 col-sm-offset-2 ">

                                        <%= link_to edit_album_path(album) do%>
                                            <i class="fa fa-pencil-square-o" id="edit_fa"></i>
                                        <% end %>

                                    </div>

                                    <div class="col-sm-4 ">

                                        <%= link_to album, method: :delete, data: { confirm: 'Are you sure you want to delete this album?' } do%>
                                            <i class="fa fa-trash-o" id="destroy_fa"></i>
                                        <% end %>

                                    </div>

                                </div>

                              <% end %>
                          <% end %>

                      </div>
                  </div>

          </div>
          <% i += 1 %>
          <% if i%6 == 0%>
                </div>
          <% end %>


      <% end %>

  </div>


<% end %>

<br>
