<%= form_with(model: user, local: true, :html => {class:"well"}) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, class:"control-label", for:"focusedInput" %>
    <%= form.text_field :name, id: :user_name , class:"form-control", id:"focusedInput"%>
  </div>

  <div class="form-group">
    <%= form.label :email , class:"control-label", for:"focusedInput"%>
    <%= form.text_field :email, id: :user_email, class:"form-control", id:"focusedInput" %>
  </div>

  <div class="form-group">
    <%= form.label :profile_picture , class:"file", for:"focusedInput"%>
    <%= form.file_field :profile_picture, id: :user_profile_picture, class:"file", id:"focusedInput" %>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class:"btn btn-primary" %>
  </div>
<% end %>
