<h2>Change password</h2>

<%= form_for(@user, as: :user, :html => {class:"well"}, url: password_confirm_and_set_user_path, html: { method: :put }) do |f| %>

  <div class="form-group">
    <%= f.label :password, class:"control-label", for:"focusedInput" %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" , class:"form-control", id:"focusedInput"%>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, class:"control-label", for:"focusedInput" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", id:"focusedInput" %>
  </div>

  <div class="form-group">
    <%= f.label :current_password, class:"control-label", for:"focusedInput" %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", class:"form-control", id:"focusedInput" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" ,class: "btn btn-primary"%>
  </div>
<% end %>

<%= link_to "Back", :back %>
