<%= stylesheet_link_tag 'index' %>


<% if @music_groups.length == 0 %>
  <h5> There are no music groups uploaded yet </h5>
<% else %>

  <div class="row well index-tron" id="bands_row">
      <div class="row">
          <div class="col-sm-4">
              <h1>Music Groups</h1>
          </div>

          <% if user_signed_in? %>
            <div class="col-sm-3 col-sm-offset-4">
                <%= link_to 'Upload center: Create new music group', "users/upload_center", class: "btn btn-info" %>
            </div>
          <% end %>

      </div>


      <div class="row">

          <div class="col-sm-12">
              <p>
                  All bands uploaded up to this point, you can access extra features clicking the
                  <i class="fa fa-caret-down"></i> symbol <em>(Only on the music groups you have editing rights)</em>
              </p>
          </div>


      </div>


      <% i = 0 %>
      <% @music_groups.each do |music_group| %>
        <% if i%6 == 0%>
            <div class="row">
        <% end %>
          <div class="col-sm-2">
              <%=  link_to music_group do %>
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <div class="album-picture-wrap">

                                <%=  image_tag music_group.get_profile_picture_path('thumbnail'), class: "img-thumbnail index-image", width: "100%"%>
                          </div>
                      </div>
              <% end %>
                      <div class="panel-body">
                          <div class="row">
                              <div class="col-sm-10" style="padding-left: 0px; padding-right: 0px;">

                                  <p class="album_card_title band_extensive_text">
                                      <i class="fa fa-users"></i>
                                      <%= music_group.name %>
                                  </p>
                              </div>

                              <% if user_signed_in?%>
                                  <% if current_user.id == music_group.user_id or current_user.role_id > music_group.user.role_id%>

                                    <div class="col-sm-1" style="padding: 0px;" id="caret_wrap">
                                        <i class="fa fa-caret-down" id= "caret<%= music_group.id %>" onclick="caretChange('caret<%= music_group.id %>', 'down')" data-toggle="collapse" data-target="#creator_options<%= music_group.id %>"></i>
                                    </div>

                                  <% end %>
                              <% end %>
                          </div>

                          <% if user_signed_in?%>
                              <% if current_user.id == music_group.user_id or current_user.role_id > music_group.user.role_id%>
                                <div class="row collapse" id="creator_options<%= music_group.id %>" style="margin-top: 5px;">

                                    <div class="col-sm-4 col-sm-offset-2 ">

                                        <%= link_to edit_music_group_path(music_group) do%>
                                            <i class="fa fa-pencil-square-o" id="edit_fa"></i>
                                        <% end %>

                                    </div>

                                    <div class="col-sm-4 ">

                                        <%= link_to music_group, method: :delete, data: { confirm: 'Are you sure you want to delete this band?' } do%>
                                            <i class="fa fa-trash-o" id="destroy_fa"></i>
                                        <% end %>

                                    </div>

                                </div>

                              <% end %>
                          <% end %>

                      </div>
                  </div>

          </div>
          <% i += 1 %>
          <% if i%6 == 0%>
                </div>
          <% end %>


      <% end %>

  </div>


<% end %>

<br>
