<p id="notice"><%= notice %></p>

  <div class="row">
      <div class="col-sm-4">
          <div class="row">
              <div class="col-sm-12">
                  <h3>
                      <strong>Name:</strong>
                      <%= @playlist.name %>
                  </h3>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-12">
                  <h4>
                      <strong>Description:</strong>
                      <%= @playlist.description %>
                  </h4>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-12">
                  <% if user_signed_in? %>
                  <% if @playlist.user.id == current_user.id  %>
                        <%= link_to 'Edit', edit_playlist_path(@playlist) %> |
                        <%= link_to 'Erase playlist', @playlist, method: :delete, data: { confirm: 'Are you sure?' } %>
                  <% elsif user_signed_in? && (current_user.role_id > @playlist.user.role_id)%>
                        <%= link_to 'Edit', edit_playlist_path(@playlist) %> |
                        <%= link_to 'Erase playlist', @playlist, method: :delete, data: { confirm: 'Are you sure?' } %> |
                        <%= link_to 'Follow', follow_playlist_user_path(@playlist, :playlist => {:playlist_id => @playlist.id}), method: :post %></td>
                  <% else %>
                        <%= link_to 'Follow', follow_playlist_user_path(@playlist, :playlist => {:playlist_id => @playlist.id}), method: :post %></td>
                  <% end %>
                  <% end %>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-12">
                  <% if user_signed_in? %>
                  <% if @playlist.user.id == current_user.id && @playlist.private %>
                  <p><em>Private playlist</em></p>
                  <% end %>
                  <% end %>
              </div>
          </div>
      </div>

  </div>


  <div class="row">

      <div class="col-sm-6">
          <% if @playlist.songs.length > 0 %>

          <h3>Songs featured</h3>
          <div class="list-group">
            <% @playlist.songs.each do |song| %>
                <%= link_to song.get_path_to_show(), class: "list-group-item" do %>
                    <h4 class="list-group-item-heading"><%= @playlist.track_number(song)%>. <%= song.name %></h4>
              <% end %>
              <% end %>


            </div>
          <% else %>
            <em>No songs featured</em>
          <% end%>


    </div>

</div>
